In [1]:
import pandas as pd
import seaborn as sns
from utils import shuffle, train_test_split, min_max_normalize, confusion_matrix
from neighbors import KNNClassifier

In [2]:
iris = pd.read_csv('./data/Iris.csv')

In [3]:
train, test = train_test_split(iris, train_size=0.7)

x_train = train.drop('Species', axis=1)
x_test = test.drop('Species', axis=1)

y_train = train['Species']
y_test = test['Species']


# if use the entire dataset, to generate the min and max values, will be 'cheating on the game'. 
# You need to normalize test using train min and max. This is also valid for new entries in production
x_train, minmax = min_max_normalize(x_train)
x_test, _ = min_max_normalize(x_test)

In [4]:
x_train.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  105.000000     105.000000    105.000000     105.000000    105.000000
mean     0.515756       0.431746      0.439286       0.493233      0.468254
std      0.296213       0.235766      0.192857       0.307945      0.314710
min      0.000000       0.000000      0.000000       0.000000      0.000000
25%      0.268456       0.222222      0.333333       0.105263      0.125000
50%      0.536913       0.416667      0.416667       0.578947      0.500000
75%      0.758389       0.583333      0.583333       0.719298      0.708333
max      1.000000       1.000000      1.000000       1.000000      1.000000

In [5]:
knn = KNNClassifier(k=5)
knn.fit(x_train, y_train)

In [6]:
y_pred = knn.predict(x_test)